@model ContactManager.Models.Contact

<p>Контакт @Model.First_Name @Model.Last_Name успешно изменен</p>

<div class="col">
    <a asp-controller="Contact" asp-action="Index" class="btn btn-primary">Список контактов</a>
</div>